version: "3.5"
services:
  mysql8:
    container_name: mysql8
    hostname: mysql8
    image: mysql:8
    #image: arm64v8/mysql:oracle
    volumes:
      - ./database:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - 3306:3306
    restart: always
    networks:
      net-db:
        aliases:
          - db
 
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    hostname: phpmyadmin
    restart: always
    depends_on:
      - mysql8
    ports:
      - 85:80
    networks:
      - net-db
 
networks:
  net-db:
    external: true
